
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Бронирование</title>
</head>
<body>
    <div>
        <h3>Бронирование</h3>
        <form>
            <table>
                <tr>
                    <td>
                        <input name="Email" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="Name" type="text" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Показать" />
                    </td>
                    <td>
                        <input type="submit" value="Удалить" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>


